@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap');

html {
  font-family: 'Titillium Web' !important;
  overflow: visible !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-size: 15px;
    line-height: 1.42857143;
}
